<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../resoures/index.css">
    <title>Document</title>
</head>
<body>
    <div class="box">
       
        <nav>
            <ul>
                <li><a href="/index"> index </a></li>
                <li><a href="/item"> item </a></li>
                <li><a href="/submit"> submit</a></li>
            </ul>
        </nav>
        <header>
                <h1>新闻详情</h1>
            </header>
        <div class="news">
            <li>
                <h3><%= item.title %></h3>
                 <p><%= item.text %> <a href="<%= item.url %>" target="_black">[ 查看更多详情 ]</a></p>

            </li>
     </div>
</div>
</body>
</html>